/*
project name: My Portfolyo Sites
project date: 10/08/2022
project author: Ferhat Kaplan
project version: v.1
*/

/* Common Group Selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'sans-serif';
    background-color: #05c0e5;
}
html{
    font-size: 15px;

}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}

p{
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    text-align: justify;
}

.my_clear::before {
    content: "";
    clear: both;
    display: block
}

img{
    max-width: 100%;
    height: auto;
}


/* line-clamp --->(satır sayısı ile alakalı)<--- */
.line_clamp4{
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.line_clamp6{
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

/*###########################################################################*/

/* NAVBAR */
#my_logo_pic {
    width: 5rem;
    border-radius: 50%;
}
#my_logo_pic:hover{
    opacity: 0.5;
    /*box-shadow: 1px 1px 3px 1px; */
}

#navbar_icon i{
    font-size: 1.3rem;
    margin-right: 0.3rem;
    color: #05c0e5;
}
/*###########################################################################*/
/* HEADER */
#header{
    position: relative;
}
header::before{
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    content:"";
    height: 110vh;
    padding-top: 15rem;
    background-image: url("pic/kullan.jpg");
    background-position: 50% 50%;
    background-size: cover;
    opacity: 0.7;
    z-index: -1;
}
/*###########################################################################*/
/* MAIN */

/*###########################################################################*/
/* FOOTER */
footer{
    min-height: 20rem;
    width: auto;
    background-color: #632a42;
    color: white;
}
#copy_right{
    background-color: #000000;
}

font-family: 'Crimson Text','Josefin Sans','Quicksand', serif,sans-serif;