/*
project name: My Portfolyo Sites
project date: 10/08/2022
project author: Ferhat Kaplan
project version: v.1
*/

/* Common Group Selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'sans-serif';
    background-color: #618685;
}
html{
    font-size: 15px;

}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}

p{
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    text-align: justify;
}

.my_clear::before {
    content: "";
    clear: both;
    display: block
}

img{
    max-width: 100%;
    height: auto;
}


/* line-clamp --->(satır sayısı ile alakalı)<--- */
.line_clamp4{
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.line_clamp6{
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}











font-family: 'Crimson Text','Josefin Sans','Quicksand', serif,sans-serif;